//= require _vendor/bootstrap
//= require _vendor/pygment_solarized_light
//= require _vendor/codemirror-solarized
//= require blog

$background: #428bca;

body {
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

.nav.opal-sidebar {
  background-color: #f4f8fa;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

  a {
    color: #5D6B72;
  }

  > li > a {
    padding: 5px 20px;
  }

  .nav > li > a {
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 90%;
  }

  li.active > a {
    font-weight: bold;
  }

  li.active > a {
    color: #34789a;
  }
}


blockquote p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
}

code {
  color: #444444;
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
  margin: 0 2px;
  padding: 0px 5px;
  font-family: Menlo, Consolas, "Courier New", monospace;
}

.highlight {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-family: Menlo, Consolas, "Courier New", monospace;
}

.main-title {
  padding-bottom: 32px;
}

.opal-nav {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: $background;
  border-color: $background;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);

  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;

  .navbar-collapse {
    border-color: #463265;
  }

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav > li > a {
    color: rgba(white, 0.8);

    &:hover {
      color: #fff;
    }
  }

  .navbar-nav > .active > a,
  .navbar-brand:hover,
  .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: $background;
  }

  .navbar-toggle {
    border-color: $background;

    &:hover {
      background-color: $background;
      border-color: $background;
    }
  }

}


body > footer {
  padding: 20px 0;
//  padding-bottom: 50%;
//  margin-bottom: -50%;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: $background;
  text-align: center;
  color: white;
  word-spacing: 0.3em;
  a {
    color: inherit;
  }
}

html {
  min-height: 100%;
  background-color: $background;
}
