---
layout: "layout"
---

<h1>Opal Documentation</h1>

<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav">
        <% data.docs.each do |item| %>
          <li>
            <%= link_to item.title, item.url %>
            <% if item.children %>
              <ul class="nav">
              <% item.children.each do |child| %>
                <li><%= link_to child.title, child.url %></li>
              <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
