$display-text: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
$display-font: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

article.blog-post {
  margin-bottom: 130px;
  font-size: 1.3em;
  h3 {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  img {
    max-width: 100%;
  }
}

.blog-post-body {
  p {
    color: rgb(29, 29, 31);
    font-family: $display-text;
    font-size: 17px;
    font-style: normal;
    font-synthesis: none;
    font-weight: normal;
    margin-bottom: 24px;
  }

  h2 {
    font-family: $display-font;
    font-size: 21px;
    font-style: normal;
    font-weight: bold;
    margin-top: 48px;
    line-height: 1.4em;
  }
}

.blog-post-meta {
  color: #999999;
  margin-bottom: 30px;

  -webkit-font-smoothing: antialiased;
  font-family: $display-font;
  font-size: 14px;
  font-style: normal;
  font-synthesis: none;
  font-weight: 600;
}

.blog-post-title {
  border-bottom: 1px solid #eeeeee;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: $display-font;
  font-size: 40px;
  font-weight: 700;
}

.blog-title h1 {
  color: #444444;
  margin-bottom: 0;
  a {
    color: inherit;
  }
}


.blog-posts {
  .blog-title h1 {
    margin: 0;
    border-bottom: 1px solid #eeeeee;
    font-size: 2.5em;
  }
}
