---
title: "Opal Blog"
layout: layout
---

%legend
  %h1
    %a.blog-title(href="/blog") The Opal Blog

.row
  .col-sm-8
    - blog.articles.each do |article|
      %h2= link_to article.title, article
      %p Posted
      = article.date
      = article.body
  .col-sm-4
