%nav.navbar.navbar-default.opal-nav(role="navigation")
  .container
    .navbar-header
      %a.navbar-brand(href="/")
        %img(height='22' width='22' style='margin-top:-10%;' src='https://secure.gravatar.com/avatar/88298620949a6534d403da2e356c9339?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png')
        Opal
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#opal-navbar")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    #opal-navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a(href="/try")
            %i.ion-ios-compose
            -# %i.ion-ios-bolt
            Try
        %li
          %a(href="/blog")
            -# %i.ion-ios-glasses
            %i.ion-ios-chatboxes
            Blog
        %li
          %a(href="/docs")
            %i.ion-ios-copy
            Documentation
        %li
          %a(href="/libraries")
            %i.ion-android-developer
            Libraries
        %li
          %a(href="https://github.com/opal/opal#readme")
            %i.ion-social-github
            GitHub
