<nav class="navbar navbar-default opal-nav" role="navigation">
  <a href="https://github.com/opal/opal"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img height='22' width='22' style='margin-top:-10%;' src='https://secure.gravatar.com/avatar/88298620949a6534d403da2e356c9339?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png'/>
        Opal
      </a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/docs">Documentation</a></li>
        <li><a href="/try">Try Opal online!</a></li>
        <li class="divider-vertical"></li>
        <li><p class="navbar-text"><span class="label">integrations:</span></p></li>
        <li><a href="http://github.com/opal/opal-jquery">jQuery</a></li>
        <li><a href="https://github.com/opal/opal-rails#readme">Rails</a></li>
        <li><a href="https://github.com/opal/opal-rspec#readme">RSpec</a></li>
        <li><a href="https://github.com/opal/vienna#readme">Vienna</a></li>
        <li><a href="https://github.com/opal/opal-node#readme">Nodejs / RVM</a></li>
        <li><a href="https://github.com/opal/opal-todos#readme">TodoMVC</a></li>
      </ul>
    </div>

  </div>
</nav>
