---
title: "Try Opal: Browser compiler and REPL"
---

<%= javascript_include_tag "load-parser", async: 'async' %>
<%= javascript_include_tag "try", async: 'async' %>

<div class="page-header">
  <h1>Try Opal in your browser!</h1>
  Examples:
  <span id="examples"><em>Loading…</em></span>
</div>

<div class="row" id="wrapper">
  <div id="editor_wrapper" class="col-md-6">
    <a href="#" id="run_code" class="btn btn-primary">Run (Cmd+Enter)</a>
    <a href="#" id="link_code" class="btn">Link</a>
    <a href="?code=" id="reset_code" class="btn">Reset</a>
    <p></p>
    <div id="editor" class="well" style="padding:0">
    </div>
  </div>
  <div class="col-md-6">
    <a href="#" class="btn disabled">Output</a>
    <p></p>
    <div id="output" class="well" style="padding:0">
    </div>
  </div>
</div>

<!-- output -->
<div class="row">
  <div class="col-md-12">
    <summary><a href="#" class="btn disabled">Compiled Javascript <small>(click to expand)</small></a></summary>
    <p></p>
    <div id="viewer" class="well" style="padding:0; height: 10rem; overflow: auto" onclick="this.style.height = '400px'">
    </div>
  </div>
</div>

