---
title: "Using Opal"
---

<div class="page-header">
  <h1>Usage</h1>
</div>

<h2>Rails</h2>
<p>
<a href="https://github.com/opal/opal-rails#readme">opal-rails</a> is available
to make opal work directly inside rails applications.
</p>

<h2>Simple Apps</h2>
<p>
If you have an example file <code>app.rb</code>:
</p>

<% code :ruby do %>
[1, 2, 3, 4].each do |n|
  puts n
end
<% end %>

<p>
You can write a rake task to compile the code:
</p>

<% code :ruby do %>
task :compile do
  src = File.read 'app.rb'
  js = Opal.parse src

  File.open('app.js', 'w+') { |o| o.puts js }
end
<% end %>

<h3>Running compiled code</h3>

<p>
The opal runtime is required for running compiled ruby, which can be downloaded
<a href="http://opalrb.org/opal.js">opal.js</a>. Setup your HTML file:
</p>

<% code :html do %>
<!DOCTYPE html>
<html>
<head>
  <title>My first Opal application</title>
  <script src="opal.js"></script>
  <script src="app.js"></script>
</head>
  <body></body>
</html>
<% end %>
